<% include ./../../helpers/imgAvatar %>
<% include ./../../helpers/convertOptionValue %>
<% include ./../../helpers/pagination %>
<% include ./../../helpers/menuNavigation %>

    <%- menuInfoNavigation(userObj) %>

    <div class="content-body">
        <div class="container-fluid">
            <div class="page-titles">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Table</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Bootstrap</a>
                    </li>

                </ol>
            </div>
            <!-- row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header bgpurple">
                            <h4 class="card-title text-white">Table Customers</h4>  
                        </div>
                        <!-- <div class="card-header">
                            <div class="input-group search-area d-lg-inline-flex d-none">
                                <div class="input-group-append">    
                                    <span class="input-group-text"><a href="javascript:void(0)"><i class="flaticon-381-search-2"></i></a></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Search here...">
                            </div>
                        </div> -->
                        <div class="card-body">
                            <div class="zcontrols">
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <!-- <select id="inputState" class="form-control default-select"> -->
                                            <!-- <option selected>Choose...</option>
                                            <option>Delete</option>
                                            <option>Option 2</option>
                                            <option>Option 3</option> -->
                                        <!-- </select> -->
                                    </div>
                                    <div class="form-group col-md-3">
                                        <!-- <button type="submit" class="btn btn-info">Apply</button> -->
                                    </div>
                                    <div class="form-group col-md-5 d-flex justify-content-end">
                                        <!-- ? Side menu icon-->
                                        <!-- <div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
                                            <a class="btn-floating btn-large red">
                                                <i class="large material-icons">mode_edit</i>
                                            </a>
                                            <ul>
                                                <li>
                                                    <a id="first-fab" class="btn-floating" data-fabcolor="#45d1ff">
                                                        <i class="material-icons">insert_chart</i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a id="second-fab" class="btn-floating" data-fabcolor="#7345ff">
                                                        <i class="material-icons">format_quote</i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a id="third-fab" class="btn-floating" data-fabcolor="#0084ff">
                                                        <i class="material-icons">publish</i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a id="fourth-fab" class="btn-floating" data-fabcolor="#ff7345">
                                                        <i class="material-icons">attach_file</i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div> -->
                                        <button type="button" class="icon-button"  onclick="window.location.href='/customer/form/'">
                                            <span class="material-icons">note_add</span>
                                        </button>
                                        <button type="button" class="icon-button"  onclick="window.location.href='/customer/trash/viewRestore'">
                                            <span class="material-icons">restore_from_trash</span>
                                            <% if(countRestore !== 0 && countRestore > 9 ){ %>
                                                  <span class="icon-button__badge">9+</span>
                                            <% }else if(countRestore !== 0 && countRestore <= 9){ %>
                                                  <span class="icon-button__badge"><%= countRestore %></span>
                                            <%  }else{ %> 
                                            <%} %>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-responsive-md">
                                    <!-- !check record exist -->
                                    <% if(items == '' || items == undefined || items == null){ %>
                                        <h4 class="text-center text-capitalize">Oops sorry!!! you don't have any records, please create a new 
                                            <u><b><span onclick="window.location.href='/customer/form/'">this here</span></b></u></h4>  
                                    <% }else{ %> 
                                        <thead>
                                            <tr>
                                                <th class="width80"><strong>#</strong></th>
                                                <th><strong>Name</strong></th>
                                                <th><strong>Avatar</strong></th>
                                                <th><strong>Genders</strong></th>
                                                <th><strong>BirthDay</strong></th>
                                                <th><strong>EMail</strong></th>
                                                <!-- <th><strong>STATUS</strong></th> -->
                                                <th><strong>CreatedAt</strong></th>
                                                <th><strong>UpdatedAt</strong></th>
                                                <th><strong>Action</strong></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% items.forEach((item,index)=>{ %>
                                                <tr>
                                                    <td><strong>
                                                            <%= index + 1 %>
                                                        </strong></td>
                                                    <td>
                                                        <%= item.customerName%>
                                                    </td>
                                                    <td>
                                                        <% if(item.customerAvatar == undefined || item.customerAvatar == ''){ %>
                                                            <!--! call helper default avatar -->
                                                            <img src="<%- defaultAvatarHelper(item.customerAvatar,item.customerGender) %>"
                                                            style="border-radius: 50%;
                                                            " width="50px" height="50px" alt="Avatar">
                                                        <%}else{ %>
                                                            <img src="<%= item.customerAvatar %>"
                                                            style="border-radius: 50%;
                                                            " width="50px" height="50px" alt="Avatar">
                                                        <%} %>
                                                    </td>
                                                    <td>
                                                        <!--! call helper convert Option to String-->
                                                    <span><%= convertOptionValueHelper(item.customerGender,['Male','Female']) %></span>
                                                    </td>
                                                    <td>
                                                        <!-- 'HH:mm DD-MM-YYYY'-->
                                                        <%= moment(item.customerDate ).format('DD-MM-YYYY');%>
                                                    </td>
                                                    <td>
                                                        <%= item.customerEmail %>
                                                    </td>
                                                    <td>
                                                        <span><i class="fa fa-user"></i> <%= item.created.nameCreateAt %></span> <br>
                                                        <!-- 'HH:mm DD-MM-YYYY'-->
                                                    <span><i class="fa fa-history"></i> <%= moment(item.created.time ).format('HH:mm | DD-MM-YYYY');%></span> 
                                                    </td>
                                                    <td>
                                                        <% if(item.modified.nameUpdateAt==undefined || item.modified.nameUpdateAt=='' ){  %>
                                                            <span><i class="fa fa-user"></i> <%= item.created.nameCreateAt %></span> <br>
                                                        <%}else{ %>
                                                            <span><i class="fa fa-user"></i> <%= item.modified.nameUpdateAt %></span> <br>
                                                        <%} %>
                                                        <!-- 'HH:mm DD-MM-YYYY'-->
                                                    <span><i class="fa fa-history"></i> <%= moment(item.modified.time ).format('HH:mm | DD-MM-YYYY');%></span>
                                                    </td>
                                                    <td>
                                                        <div class="dropdown">
                                                            <button type="button" class="btn btn-success light sharp"
                                                                data-toggle="dropdown">
                                                                <svg width="20px" height="20px" viewBox="0 0 24 24"
                                                                    version="1.1">
                                                                    <g stroke="none" stroke-width="1" fill="none"
                                                                        fill-rule="evenodd">
                                                                        <rect x="0" y="0" width="24" height="24" />
                                                                        <circle fill="#000000" cx="5" cy="12" r="2" />
                                                                        <circle fill="#000000" cx="12" cy="12" r="2" />
                                                                        <circle fill="#000000" cx="19" cy="12" r="2" />
                                                                    </g>
                                                                </svg>
                                                            </button>
                                                            <div class="dropdown-menu">
                                                                <a class="dropdown-item"
                                                                    href="/customer/details/<%= item.id %>">Detail</a>
                                                                <a class="dropdown-item" href="/customer/form/<%= item.id %>">Edit</a>
                                                                <a class="dropdown-item "
                                                                    href="/customer/delete/<%= item.id %>">Delete</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            <% }) %>
                                        </tbody>
                                </table>
                                    <!-- ! record count documents for pagination -->
                                    <%- paginationHelper(pagination) %> 
                                <%} %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>